.small-font {
    font-size: 1em;
}

body {
    background: #bfbfbf;
    font-size: 150%;
    margin: 4%;
}

header {
    background: #666666;
    text-align: center;
    padding: 15px;
}

h1 {
    color: #ffffff;
}

nav {
    font-variant: small-caps;
    font-size: 100%;
    font-family: Arial, "Times New Roman", sans-serif;
}

nav a {
    display: inline-block;
    width: 23%;
    background: #ffffff;
}

h2 {
    color: #555555;
    background: #00b7ea;
    font-size: 1.5em;
}

.half {
    width: 45%;
    display: inline-block;
    float: left;
    margin-right: 2%;
}

.whole {
    clear: both;
}

details {
    font-style: italic;
}

summary {
    font-style: normal;
}

footer {
    background: #666666;
    clear: both;
}

img {
    width: 100px;
}

ul {
    list-style-type: square;
}

header, footer {
    background: linear-gradient(to top left, #666666, #2dedff);
}