/*@font-face {*/
/*font-family: "Open Sans";*/
/*font-weight: regular;*/
/*src: url("C:\Users\nhanh\Desktop\New folder\OpenSans-Regular");*/
/*}*/

p {
    color: rgb(255, 255, 0);
    background-color: #0000ff;
    font-family: "Inconsolata-g for Powerline", sans-serif;
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    line-height: 200%;
}

footer {
    margin-top: 30px;
}

iframe {
    display: block;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: unset;
    color: #ff0003;
}

blockquote {
    width: 300px;
    height: 300px;
    background: url("../images/rpcg-logo.svg") 50% 100% no-repeat;

}

.bg-logo {
    /*content: "";*/
    display: block;
    /*position: absolute;*/
    /*z-index: -1;*/
    width: 100%;
    height: 100%;
    background-image: url('../images/rpcg-logo.svg');
    background-size: cover;
    opacity: 0.7;
    /*top: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
}

img[src$="rpcg-logo.svg"] {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: -1;
}

nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav > ul > li {
    background-color: cyan;
    display: inline-block;
    width: 40%;
}

nav li ul {
    position: absolute;
    display: none;
    width: inherit;
}

nav li:hover ul {
    display: block;
}