header {
    background-color: #2dedff;
}

h1, h2 {
    color: #ffff00;
    text-transform: uppercase;
}

h1 {
    text-align: center;
}

section {
    background-color: #ffa200;
}

a {
    background-color: #0000ff;
    color: #ffc723;
    text-align: center;
}

img {
    display: none;
}